<div class="sp-app">
  <main class="sp-app-main">
    <app-sharepoint-home
      *ngIf="view === 'home'"
      (openWorkspace)="goWorkspace()"
      (openApplications)="goApplications()">
    </app-sharepoint-home>

    <app-sharepoint-applications
      *ngIf="view === 'applications'"
      (useApplication)="onUseApplication($event)"
      (navigateHome)="goHome()">
    </app-sharepoint-applications>

    <app-sharepoint-workspace
      *ngIf="view === 'workspace'"
      [initialApplicationId]="pendingApplicationId"
      (navigateHome)="goHome()"
      (navigateApplications)="goApplications()"
      (registerInternal)="goApplications()"
      (launchApplicationConsumed)="onLaunchApplicationConsumed()">
    </app-sharepoint-workspace>
  </main>
</div>
